body {
    background: #171A21;
    color:white;
}

.article-game {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    color:white;
    width:85%;
    max-width:1200px;
    margin : auto;
    
  }
  
  .article-item {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 5px;
    margin : 2px 5px 20px 5px;
    background:#000000;
  }

  .prevNext-item {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 5px;
    margin : 5px;
    background:#000000;
  }

  .article-item:after{
    content:"";
    position:absolute;
    right:0px;
    bottom:0px;
    margin:-25px;
    width:40px;
    height:40px;
    transform: rotate(45deg);
    background-color: #171A21;
    border:2px dotted darkgray;
    

  }

.game-title{
    font-weight:700;
    color: beige;
}
.game-date{
    font-weight:200;
    color: beige;
}

  .article-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }

  .article-name {
    font-weight: bold;
  }
  
  .article-date {
    font-weight: bold;
  }
  
  .article-content {
    margin-top: 5px;
  }

  .article-title {
    margin:auto;
  }

  .left-arrow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .right-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .newImg {
    width:90px;
    height:auto;
  }
  .ytFrame {
    display:none;
  }

.game-img{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  flex-wrap:wrap;
  gap:2%;
}

  .bottomImg {
    width:30%;
    height:auto;
  }

  .bottomImg img {
    max-width:100%;
    height:auto;
  }

  .bottomImg iframe {
    width:100%;
    height:auto;
  }

.article-footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:90%;
  margin: auto;
}

.article-prevNext{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:46%;
  background-color: #000000;
}
.article-svg{
  filter:invert(90%) sepia(29%) saturate(134%) hue-rotate(21deg) brightness(106%) contrast(92%);
  height:30px;
  padding:10px;
}
.prevNext-content{
  display:flex;
  flex-direction: column;
  width:90%;
}

.article-index {
  color:#000000;
}


@media (max-width:768px){
  .prevNext-content{
    display:none;
  }
  .article-prevNext{
    width:50px;
  }

}

