.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px 20px;
    background: rgb(23,26,33);
    background: linear-gradient(180deg, rgba(23,26,33,1) 0%, rgba(25,155,190,1) 100%);
    color:beige;
    font-size : 24px;
  }
  
  .logo {
    font-weight: bold;
    font-size: 18px;
  }
  
  .menu-img {
    filter:invert(90%) sepia(29%) saturate(134%) hue-rotate(21deg) brightness(106%) contrast(92%);
    height:0.9em;
  }

  .menu-img li:active{
    filter:invert(99%) sepia(100%) saturate(0%) hue-rotate(337deg) brightness(104%) contrast(102%);
    height:0,95em;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: beige;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .menu-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    width: 70%;
    justify-content: space-between;
  }
  
  .menu-items li {
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .menu-items li:hover {
    color: white;
    border-bottom: 2px solid white;
  }
  
  .menu-items li.active {
    font-weight: bold;
    color : white;
    border-bottom: 3px solid white;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .menu-items {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 20px;
      background-color: #199BBE;
      padding: 10px;
    }
  
    .menu-items.open {
      display: flex;
    }
  }


  