body {
    background: #171A21;
    color:white;
}

.latest-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:white;
    width:96%;
    margin : auto;
    gap:2%;
  }
  
  .news-item {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 46%;
    padding: 10px;
    margin : 5px;
    background:#000000;
    
  }
  .news-item:after{
    content:"";
    position:absolute;
    right:0px;
    bottom:0px;
    margin:-25px;
    width:40px;
    height:40px;
    transform: rotate(45deg);
    background-color: #171A21;
    border:2px dotted darkgray;
    

  }

.news-title{
    font-weight:700;
    color: beige;
}
.news-date{
    font-weight:200;
    color: beige;
}

  .news-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }

  @media (max-width:768px){
    .news-item {
        width:98%;
    }
  }

  .news-name {
    font-weight: bold;
  }
  
  .news-date {
    font-weight: bold;
  }
  
  .news-content {
    margin-top: 5px;
  }
  